*, *::before, *::after{
    box-sizing: border-box;
}
body {
    font-family: "Mulish", sans-serif;
}
.container {
    max-width: 1109px;
    margin: auto;
}
/* HEADER */
header {
    margin-top: 61px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 800;
    font-size: 30px;
}
.navlinks {
    list-style: none;
    display: flex;
    gap: 29px;
    margin-left: auto;
}
.navlinks a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.35px;
    color: #111111;
}
/* MAIN SECTION */
.main {
    margin-top: 100px;
}
.main-layout  {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.main-content {
    max-width: 635px;
}
.main-label {
    color: #4A4FF2;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.42px;
    margin-bottom: 32px;
}
.main-content h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #111111;
}
.main-aside {
    display: flex;
    align-items: flex-start;
    font-style: italic;
    font-size: 18px;
    color: #111111;
}
.main-aside p {
    margin-top: 2px;
}
.line {
    width: 30px;
    height: 2px;
    background-color: #111111;
}
/* ===== GALLERY ==== */
.gallery {
    margin-top: 144px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    grid-auto-rows: 10px;
}
.grid img {
    grid-column: span 4;
    width: 100%;
    height: auto;
    display: block;
}
/* ===== GALLERY ==== */
.gallery {
    margin-top: 144px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
.grid img {
    grid-column: span 4;
    width: 100%;
    height: auto;
}
.img1 {grid-row: span 41;}
.img2 {grid-row: span 35;}
.img3 {grid-row: span 60;}
/* ==== SERVICES SECTION ==== */
.services {
    margin-top: 91px;
    margin-bottom: 151px;
}
.services-layout {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.services-layout h2 {
    max-width: 635px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    color: #111111;
}
.services-lists {
    display: flex;
    align-self: flex-start;
    gap: 70px;
}
.services-lists ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services-lists li {
    font-weight: normal;
    font-size: 18px;
    color: #111111;
}
/* ==== AWARDS SECTION ==== */
.awards {
    margin-top: 0;
}
.awards-row {
    display: grid;
    grid-template-columns: 3fr 2fr 1.2fr 1fr;
    padding: 40px 0;
}
.awards-col {
    color: #111111;
    font-size: 16px;
}
.awards-title {
    font-size: 22px;
    font-weight: bold;
}
.awards-type {
    font-size: 18px;
    font-weight: bold;
}
.awards-project {
    font-size: 16px;
}
.awards-project span {
    display: block;
    font-size: 16px;
    line-height: 26px;
}
.awards-year {
    text-align: right;
}
.award-line {
    height: 2px;
    background-color: #D8D8D8;
    margin: 0 auto 48px auto;
}
.footer {
    margin-top: 114px;
    margin-bottom: 47px;
}
.footer-row {
    display: flex;
    align-items: center;
}
.footer-icon {
    display: flex;
    gap: 24px;
    margin-left: 95px;
}
.footer-icon a {
    color: #111111;
}
/* ==== PROJECT SECTION ==== */
.project-ctrimage {
    margin-top: 61px;
    margin-bottom: 45px;
}
.project-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
}
.project-images {
    display: flex;
    justify-content: space-between;
}
.project-images img {
     margin-top: 45px;
     gap: 30px;
     margin-bottom: 132px;
}

